# Node
node_modules/
npm-debug.log*
yarn.lock

# Credenciales/entornos
.env
*.env
*.pem
*.key

# Baileys (carpetas comunes)
auth_info_baileys/
baileys_auth/
session/
sessions/
tmp/
cache/
media/

# Logs y temporales
*.log
logs/
.DS_Store
